<header></header>
<section class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <mat-form-field class="input-name">
          <input matInput placeholder="Full Name" formControlName="name" />
        </mat-form-field>

        <mat-radio-group formControlName="gender" class="input-gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <mat-form-field class="input-email">
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>

        <mat-form-field class="input-date">
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Birth Date"
            formControlName="birthDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="input-address">
          <input matInput placeholder="Address" formControlName="address" />
        </mat-form-field>
        <mat-form-field class="input-city">
          <input matInput placeholder="City" formControlName="city" />
        </mat-form-field>
        <mat-form-field class="input-country">
          <input matInput placeholder="Country" formControlName="country" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="input-hobbies" appearance="fill">
          <mat-label>Hobbies</mat-label>
          <mat-chip-grid
            #chipGrid
            aria-label="Enter Hobby"
            formControlName="hobbies"
          >
            <mat-chip-row
              *ngFor="let hobby of hobbies"
              (removed)="remove(hobby)"
              [editable]="true"
              (edited)="edit(hobby, $event)"
              [aria-description]="'press enter to edit ' + hobby.name"
            >
              {{ hobby.name }}
              <button matChipRemove [attr.aria-label]="'remove ' + hobby.name">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="New hobby..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-grid>
        </mat-form-field>
      </div>

      
      <div>
        <input type="color" formControlName="color">

        <mat-slider min="2" max="7" step="1" showTickMarks discrete>
          <input matSliderThumb formControlName="seats" />
        </mat-slider>

        <mat-radio-group formControlName="motorType">
          <mat-radio-button value="electric">Electric</mat-radio-button>
          <mat-radio-button value="fuel">Fuel</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
<footer></footer>
