:host {
  height: 100%;
  display: block;
}

video {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.form-container {
  height: 90vh;
  form {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px;

    > div {
      width: 50%;
    }
  }

  .submit-btn-container {
    display: flex;
    justify-content: center;
  }
}

.inputs-container {
  background-color: rgb(255 255 255 / 40%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputs-sub-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-color {
  width: 100px;
  height: 33px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-completed {
}
